<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <services>

        <service id="smarty.plugin.session.manager" class="TheliaSmartyPlugins\Plugins\SessionManager">
            <argument type="service" id="request_stack"/>
            <tag name="thelia.parser.register_plugin"/>
        </service>

    </services>
</config>
